In [1]:
# #Tuple
# multiple valudes accept
# not mutable data type
# indexing 
# ordered
# duplicate members

In [2]:
a =(1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [4]:
a =(1,2,3,4) #tuple
#  a(1,2,3,4) #functions

In [5]:
a =("Apple",)
type(a)

tuple

In [6]:
a =("Apple",)  #comma is needed for only one element
a*3

('Apple', 'Apple', 'Apple')

In [7]:
a =("Apple","Ball","cat")
a[2]

'cat'

In [8]:
a =("Apple","Ball","cat")
b =("fish","honey")
a+b

('Apple', 'Ball', 'cat', 'fish', 'honey')

In [9]:
y =()
n = int(input("Enter the value of n ="))
for i in range(n):
    x =int(input("Enter x ="))
    y =y+(x,)
print(y)

Enter the value of n =3
Enter x =2
Enter x =3
Enter x =4
(2, 3, 4)

In [10]:
a =("Apple","Ball","cat")
a[0] ="ant"
print(a)   #not valid

TypeError: 'tuple' object does not support item assignment

In [11]:
a =(33,45,65, 34,54,56)
b =a[0:2]
c =("Python",)            #slycing
d =a[2:]
print(b+c+d)

(33, 45, 'Python', 65, 34, 54, 56)

In [12]:
y =()
n = int(input("Enter the value of n ="))
for i in range(n):
    x =int(input("Enter x ="))
    y =y+(x,)
print("The fianl data =",y)
print("The max value =",max(y))
print("The min value =",min(y))
print("The sum value =",sum(y))

Enter the value of n =3
Enter x =45
Enter x =33
Enter x =66
The fianl data = (45, 33, 66)
The max value = 66
The min value = 33
The sum value = 144

In [3]:
a =(12,23,24,34,45,46)
print(sorted(a))
print(a)

[12, 23, 24, 34, 45, 46]
(12, 23, 24, 34, 45, 46)

In [5]:
a =("a","b","c","d") 
for i in range(len(a)):
    print(a[i])

a
b
c
d

In [2]:
#for search 
a =("a","b","c","d") 
if "Apple" in a:
    print("yes",a.count("a"))

In [2]:
a =("a","b","c","d") 
if "a" in a:
    print("yes",a.count("a"))

yes 1

In [12]:
a =('Apple','ball','cat','dog','apple')
search =input("Enter the value of search=").lower()
for i in range(len(a)):
    if search in a[i].lower():
        print("yes",a.count(search))
        break

Enter the value of search=apple
yes 1

In [9]:
a =('Apple','ball','cat','dog','apple')
del a
print(a)

NameError: name 'a' is not defined

In [10]:
a =('Apple','ball','cat','dog')
search =input("Enter the value of search=")
if search in a:
    print("yes",a.count(search))

Enter the value of search=cat
yes 1

In [11]:
a =('Apple','ball','cat','dog')
a.index("ball")

1

In [13]:
a =('Apple','ball','cat','dog')
b =list(a)
b.remove('ball')
a =tuple(b)
print(a)

('Apple', 'cat', 'dog')

In [14]:
a =('Apple','ball','cat','dog')  #  first change to list and get back to tuple
b =list(a)
b[2]="cow"
a =tuple(b)
print(a)

('Apple', 'ball', 'cow', 'dog')

In [15]:
a ="python"
print(tuple(a))
print(list(a))

('p', 'y', 't', 'h', 'o', 'n')
['p', 'y', 't', 'h', 'o', 'n']

In [17]:
a ="python"
b =(a,)
b

('python',)

In [18]:
a ="python"
b =tuple(a)
a =str(b)
a

"('p', 'y', 't', 'h', 'o', 'n')"

In [19]:
#Tuple innside Tuple

In [20]:
a =((1),(2),(3),(4))
print(type(a))
print(len(a))

<class 'tuple'>
4

In [22]:
s =()
n =int(input("Enter how many rows ="))
for i in range(1,n+1):
    name = input("Enter the name=")
    phone =int(input("Enter the number="))
    info =(i,name,phone)
    s =s+(info,)
print("The info are\n",s)

Enter how many rows =2
Enter the name=hari
Enter the number=56789
Enter the name=ram
Enter the number=5678
The info are
 ((1, 'hari', 56789), (2, 'ram', 5678))

In [23]:
#list inside tuple
a =([1,2,3],[4,5,6],[7,8,9])
print(a)
print(type(a))

([1, 2, 3], [4, 5, 6], [7, 8, 9])
<class 'tuple'>

In [3]:
a =([1,2,3],[4,5,6],[7,8,9])
print(a)
print(type(a))
a[0].append(0)
print(a)

([1, 2, 3], [4, 5, 6], [7, 8, 9])
<class 'tuple'>
([1, 2, 3, 0], [4, 5, 6], [7, 8, 9])

In [6]:
a =([1,2,3],[4,5,6],[7,8,9])
a[0][2]=44
a

([1, 2, 44], [4, 5, 6], [7, 8, 9])

In [8]:
#tuple inside list
a =[(1,2,3),(4,5,6),(7,8,9)]
a[0]=[2,3,4]
a

[[2, 3, 4], (4, 5, 6), (7, 8, 9)]

In [9]:
a =[(1,2,3),(4,5,6),(7,8,9)]
a[0]=(2,3,4,5)
a

[(2, 3, 4, 5), (4, 5, 6), (7, 8, 9)]

In [12]:
a =[(1,2,3),(4,5,6),(7,8,9)]
a.append((10,11,12,13))
a

[(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12, 13)]

In [13]:
del a[3]

In [14]:
print(a)

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [13]:
#Wap to change tuple inside tuple into list inside list and vice versa

a =((1,2,3),(2,3,4),(3,4,5),(4,5,6))
b =list(a)
b[0]=[0,1,2]
b[1]=[3,4,5]
b[2]=[6,7,8]
b[3]=[9,10,11]
b

[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11]]

In [17]:
a =[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11]]
a[0]=(1,2,3)
a[1]=(4,5,6)
a[2]=(7,8,9)
a[3]=(10,11,12)
b =tuple(a)
b

((1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12))

In [1]:
#update Tuple
a = tuple()
b =(1,2,3)
print(a)
print(b)

()
(1, 2, 3)

In [2]:
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [3]:
# indexed
# orderred
# duplicate members
# immutable

In [5]:
a =("apple ","ball","cat")
a[1]

'ball'

In [6]:
a[0:2]

('apple ', 'ball')

In [8]:
a =(1,2,3)
b=(4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [9]:
a =(1,2,3)
print(a*2)

(1, 2, 3, 1, 2, 3)

In [10]:
a =("Apple",)  #comma is needed for tuple 
type(a)

tuple

In [11]:
a=()
type(a)

tuple

In [12]:
a =(33,44,44,33,22)
print(min(a))
print(max(a))
print(sum(a))

22
44
176

In [13]:
a =(1,2,3,4,)
a[0]
print(a[0])

1

In [16]:
a=()
b=(2,)
c=a+b
d=c +(4,)
print(d)

(2, 4)

In [17]:
y =()
n = int(input("Enter the value of n ="))
for i in range(n):
    x =int(input("Enter x ="))
    y =y+(x,)
print(y)

Enter the value of n =3
Enter x =22
Enter x =33
Enter x =221
(22, 33, 221)

In [18]:
a=(22,44,33,55,66)
b =sorted(a)
b                  #sorted but as list

[22, 33, 44, 55, 66]

In [1]:
a=(22,44,33,55,66)
b=list(a)

In [2]:
del(b[4])

In [3]:
a=tuple(b)
print(a)

(22, 44, 33, 55)

In [4]:
a ="PYTHON"
list(a)

['P', 'Y', 'T', 'H', 'O', 'N']

In [5]:
a=['P', 'Y', 'T', 'H', 'O', 'N']  #not reversile
str(a)

"['P', 'Y', 'T', 'H', 'O', 'N']"

In [2]:
#for search 
a =("a","b","c","d") 
if "a" in a:
    print("yes",a.count("a"))

yes 1

In [4]:
#Tuple innside Tuple
a =((1,2,3),(2,3,4),(3,6,9),(4,8,12))
print(type(a))
print(len(a))

<class 'tuple'>
4

In [6]:
#list indise tuple
a =([1,2,3],[4,5,6],[4,5,3])
a

([1, 2, 3], [4, 5, 6], [4, 5, 3])

In [9]:
#tuple inside list
a =[(e,y,r),(e,t,y),]
print(a)

NameError: name 'e' is not defined

In [10]:
s =()
n =int(input("Enter how many rows ="))
for i in range(1,n+1):
    name = input("Enter the name=")
    phone =int(input("Enter the number="))
    info =(i,name,phone)
    s =s+(info,)
print("The info are\n",s)

Enter how many rows =1
Enter the name=reee
Enter the number=eee33

ValueError: invalid literal for int() with base 10: 'eee33'

In [13]:
a =[[0, 1, 2], [3, 4, 5], [6, 7, 8]]
a[0]=(0,1,2)
a[1]=(3,4,5)
a[2]=(6,7,8)

b =tuple(a)
print(b)

((0, 1, 2), (3, 4, 5), (6, 7, 8))

In [15]:
def cal():
    a=10
    b=20
    return a,b
cal()

(10, 20)