In [1]:
#while 
#  while <conditions>:
#         <operations>
#         <increment or decrement>

In [2]:
a =0
while a<5:
    print("Hello world")
    a =a+1

Hello world
Hello world
Hello world
Hello world
Hello world

In [4]:
a =1
while a<5:
    print(a,"Hello world")
    a =a+2

1 Hello world
3 Hello world

In [7]:
a =1
while a<=6:
    print(a,"Hello world")
    a =a+2

1 Hello world
3 Hello world
5 Hello world

In [1]:
s =0
i =0
n = int(input("Enter n="))
#for i in range(n):
while i<n:
    x =int(input("Enter the x="))
    s =s+x
    i =i+1
print("The sum is =",s)

Enter n=3
Enter the n=2
Enter the n=3
Enter the n=3
The sum is = 8

In [2]:
for i in range(5,0,-1):
    print(i,"python")

5 python
4 python
3 python
2 python
1 python

In [5]:
a ="Python"
for i in range(5,-1,-1):
    print(a[i],end='""')

n""o""h""t""y""P""

In [4]:
a =input("Enter a =")
n =len(a)
# for i in range(5,-1,-1):
while n-1>=0:
    # print(a[n],end='')
    n =n-1
    print(a[n],end='')

Enter a =hello world
dlrow olleh

In [1]:
n =int(input("Enter n="))
i =10

#for i in range (1,11):
while i>=1:
    print(n,"*",i,"=",n*i)
    i =i-1

Enter n=6
6 * 10 = 60
6 * 9 = 54
6 * 8 = 48
6 * 7 = 42
6 * 6 = 36
6 * 5 = 30
6 * 4 = 24
6 * 3 = 18
6 * 2 = 12
6 * 1 = 6

In [2]:
n =int(input("Enter n="))
i =1

#for i in range (1,11):
while i<=10:
    print(n,"*",i,"=",n*i)
    i =i+1

Enter n=7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [3]:
fac =1
i =1
n =int(input("enter the n ="))
while i<=n:
    fac =fac*i
    i =i+1
    print("The value of fac =",fac)
print(fac)

enter the n =6
The value of fac = 1
The value of fac = 2
The value of fac = 6
The value of fac = 24
The value of fac = 120
The value of fac = 720
720

In [4]:
s =""
n = int(input("Enter n="))
a =1
while a<=n:
    name= input("Enter  your Name=")
    phone = input("Enter your phone number =")
    length =len(phone)
    if length ==10:
        s = s +name +"--"+phone+"\n"
    else:
        print("Invalid number")
    a = a+1
print("The Entry is =",s)

Enter n=2
Enter  your Name=rakshi
Enter your phone number =98765432000
Invalid number
Enter  your Name=raka
Enter your phone number =0987654321
The Entry is = raka--0987654321

In [1]:
# continue statement
a = "Python"
for i in a:
    if i == "o":
        continue
    print(i)

P
y
t
h
n

In [2]:
for i in range(1,11):
    if (i%2 ==0):
        continue
    print(i)

1
3
5
7
9

In [3]:
for i in range(1,11):
    if (i%2 !=0):
        continue
    print(i)

2
4
6
8
10

In [4]:
for i in range(1,51):
    if (i%5 !=0):
        continue
    print(i)

5
10
15
20
25
30
35
40
45
50

In [6]:
for i in range(1,10):
    if (i%5 ==0):
        continue
    print(i)

1
2
3
4
6
7
8
9

In [7]:
a = ["Apple","Ball","Cat","Dog","Fish","Dog"]
for i in a:
    if i == "Dog":
        continue
    print(i)

Apple
Ball
Cat
Fish

In [1]:
def cal():  #null operation
    pass

cal()

In [3]:
a = 10
b = 12
if a<b:
    pass
print(a)

10

In [2]:
for i in range(1,11):
    if (i%5 !=0):
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
# Nested loop
# --Nested_for

In [5]:
for i in range(1,5):
    for j in range(1,5):
        print(i,"Hello World")

1 Hello World
1 Hello World
1 Hello World
1 Hello World
2 Hello World
2 Hello World
2 Hello World
2 Hello World
3 Hello World
3 Hello World
3 Hello World
3 Hello World
4 Hello World
4 Hello World
4 Hello World
4 Hello World

for i in range(1,5):
   for j in range(0,2):
       phone = int(input("phone = "))
        
        print(i,j)

In [2]:
for i in range(1,5):
    for j in range(0,2):
        phone = int(input("phone = "))
        
        print(i,j)

phone = 1234
1 0
phone = 123
1 1
phone = 123
2 0
phone = 123
2 1
phone = 123
3 0
phone = 1212
3 1
phone = 12
4 0
phone = 12
4 1

In [3]:
for i in range(1,5):
    for j in range(0,2):
        if j == 0:
            continue
        print(i,j)

1 1
2 1
3 1
4 1

In [4]:
for i in range(1,5):
    if i == 2:
        continue
    else:
        for j in range(0,2):
            print(i,j)

1 0
1 1
3 0
3 1
4 0
4 1

In [5]:
for i in range(0,2):
    for j in range(0,2):
        print(i,j)

0 0
0 1
1 0
1 1

In [6]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end = ' ')
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

In [8]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end = ' ')
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

In [11]:
a=4
spc=" "
for i in range(1,6):
    print(a*spc,end="")
    a=a-1
    for j in range(6):
    print("*"*j,end="")
    for k in range(6):
    print("*"*k,end="")
    k = k-1
    print()

IndentationError: expected an indented block (<ipython-input-11-f52ba2e3e8b2>, line 7)

In [12]:
a = 1
b = " "
for i in range(10,-1,-1):
  print(i*b,"*"*a+"*"*(a-1))
  a = a+1

           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
 *********************