In [1]:
a = "Apple"
print(type(a))

<class 'str'>

In [2]:
a[0]

'A'

In [3]:
a[4]

'e'

In [4]:
a[-2]  #minus from back side

'l'

In [5]:
a[0:5]

'Apple'

In [6]:
a[0:5:2]

'Ape'

In [7]:
a[0:5:1]

'Apple'

In [8]:
a ="Python"
a[4:0:-1]

'ohty'

In [9]:
a ="Python"
a[5:0:-1]  # >5 for starting point
           # 0 for final point
           # -1 for back side

'nohty'

In [10]:
a ="Python"
a[5::-1]   #in reverse case 0 and empty(  :  :) is not same

'nohtyP'

In [11]:
A =10
B =20
print(A+B)

30

In [12]:
a = input("Enter a =")
b = input("Enter b =")
print(a+b)

Enter a =11
Enter b =12
1112

In [13]:
a ="10"
b =20
print(a+str(b))

1020

In [17]:
name = input("Enter the name=")
age =int(input("Enter you age="))
add =input("Enter address=")
info ="Hello My name is "+ name+  " my age is"+ str(age)+ " my address is " +add 
print(info)

Enter the name=raka
Enter you age=22
Enter address=kalanki
Hello My name is raka my age is22 my address is kalanki

In [21]:
#string formatting
name = input("Enter the name=")
age =int(input("Enter you age="))
add =input("Enter address=")
info =f"Hello My name is {name}. my age is {age}. my address is {add}. "
print(info)

Enter the name=suchita dulal
Enter you age=55
Enter address=maharasta
Hello My name is suchita dulal. my age is 55. my address is maharasta.

In [1]:
s =" "
n =int(input("Enter how many rows ="))
for i in range(n):
    name = input("Enter the name=")
    phone =int(input("Enter the number="))
    info =f" {name }-----{phone}\n"
    s =s+info
print("The info are\n",s)

Enter how many rows =2
Enter the name=ram
Enter the number=1234567
Enter the name=haram
Enter the number=345678
The info are
   ram-----1234567
 haram-----345678

In [1]:
name =input("Enter name =").lower()
if "ram" in s.lower():
    print("yes", s.count("ram"))
else:
    print("NO")

Enter name =ram

NameError: name 's' is not defined

In [3]:
s.count("haram")

1

In [7]:
a ="Apple"
a.upper()

'APPLE'

In [8]:
a.lower()

'apple'

In [2]:
#Entry part
s =" "
n =int(input("Enter how many rows ="))
for i in range(n):
    name = input("Enter the name=")
    phone =int(input("Enter the number="))
    info =f" {name }-----{phone}\n"
    s =s+info
print("The info are\n",s)
#search part
name =input("Enter name =").lower()
if "ram" in s.lower():
    print("yes", s.count("ram"))
else:
    print("NO")

Enter how many rows =2
Enter the name=ram
Enter the number=234
Enter the name=shyam
Enter the number=45678
The info are
   ram-----234
 shyam-----45678

Enter name =ram
yes 1

In [4]:
a ="Python C++ JAVA"
b =a.replace("JAVA","java script")
print(b)

Python C++ java script

In [2]:
#Entry part
s =" "
n =int(input("Enter how many rows ="))
for i in range(n):
    name = str(input("Enter the name="))
    phone =int(input("Enter the number="))
    info =f" {name }-----{phone}\n"
    s =s+info
print("The info are\n",s)
#search part
    name =input("Enter name =").lower()
    if "ram" in s.lower():
        print("yes", s.count("ram"))
    else:
        print("NO")
    #Replace
    data =input("Enter data =")
    replace =input("Enter the repalce data =")
    Final_data =s.replace(data,replace)
    print(final_data)

Enter how many rows =1
Enter the name=1222
Enter the number=1222
The info are
   1222-----1222

NameError: name 'x' is not defined

In [5]:
#WAP to entry the student result every details.(entry result search upadate)
s =" "
n =int(input("Enter how many student ="))
for i in range(n):
    name = input("Enter the name=")
    math =int(input("Enter the mark of maths="))
    english =int(input("Enter the mark of English="))
    science =int(input("Enter the mark of science="))
    nepali =int(input("Enter the mark of nepali="))
    social =int(input("Enter the mark of social="))
    info =f" {name }-----{math}----{english}----{science}----{nepali}----{social}\n"
    s =s+info
print("The info are\n",s)
t=""
total=math+english+science+nepali+social
per=total/5
print(total)
print(per)

Enter how many student =1
Enter the name=wer
Enter the mark of maths=2
Enter the mark of English=22
Enter the mark of science=33
Enter the mark of nepali=44
Enter the mark of social=22
The info are
   wer-----2----22----33----44----22

123
24.6

In [3]:
s =" "
n =int(input("Enter how many student ="))
for i in range(n):
    name = input("Enter the name=")
    math =int(input("Enter the mark of maths="))
    english =int(input("Enter the mark of English="))
    science =int(input("Enter the mark of science="))
    nepali =int(input("Enter the mark of nepali="))
    social =int(input("Enter the mark of social="))
    info =f" {name }-----{math}----{english}----{science}----{nepali}----{social}\n"
    print("The info are\n",info)
    s =s+info
    total=math+english+science+nepali+social
    per=total/5
    print(total)
    if math>=40 and english>=40 and science>=40 and nepali>=40 and social>=40:
        if per>80:
            print("Distinction")
        elif per>=70 and per<80:
            print("First Divison")
        elif per>=55 and per<70:
            print("second Divison")
        else:
            print("Third Division")

    else:
        print("Fail")
#search part
name =input("Enter name you want to search =")
if name in s:
    print("yes", s.count(name))
else:
    print("NO")

Enter how many student =1
Enter the name=raaka
Enter the mark of maths=33
Enter the mark of English=33
Enter the mark of science=44
Enter the mark of nepali=55
Enter the mark of social=55
The info are
  raaka-----33----33----44----55----55

220
Fail
Enter name you want to search =raka
NO