In [1]:
# #list 
# -multiple values accept 
# -mutable data types
# -indexing
# -ordered
# duplicate members

In [2]:
a =["Apple","Ball","Cat","Dog"]
print(a)
print(type(a))
print(len(a))

['Apple', 'Ball', 'Cat', 'Dog']
<class 'list'>
4

In [3]:
a ="apple"
len(a)

5

In [5]:
#indexing
a =["Apple","Ball","Cat","Dog",1,2,3]
print(a[-2])    #count from 0 1 2 3    and minus from behind

2

In [6]:
a =["Apple","Ball","Cat","Dog",1,2,3]
print(a[0:5])

['Apple', 'Ball', 'Cat', 'Dog', 1]

In [7]:
a =["Apple","Ball","Cat","Dog",1,2,3]
print(a[0:7:2])        #  a[0:7:2]  last 2 is for increment with 2 i++

['Apple', 'Cat', 1, 3]

In [8]:
a =["Apple","Ball","Cat","Dog",1,2,3]
print(a[6::-1])

[3, 2, 1, 'Dog', 'Cat', 'Ball', 'Apple']

In [9]:
#ordered
a =["apple","ball"]
b =["cat","dog"]
print(a+b)

['apple', 'ball', 'cat', 'dog']

In [10]:
a =["apple","apple"]
#index 0 and 1 diff
b =["ball ","cat"]*2   #can't do +  - / 
print(b)

['ball ', 'cat', 'ball ', 'cat']

In [11]:
a =["Apple","Ball","Cat","Dog",1,2,3]
a[0]="ant"
print(a)

['ant', 'Ball', 'Cat', 'Dog', 1, 2, 3]

In [12]:
y =[]
n =int(input("Enter the value of n ="))
for i in range(n):
    x =int(input("Enter x="))
    y.append(x)  # append for adding
print(y)

Enter the value of n =4
Enter x=34
Enter x=44
Enter x=55
Enter x=44
[34, 44, 55, 44]

In [13]:
a =[34, 44, 55, 44]
a.append(90)  #add in last 
print(a)

[34, 44, 55, 44, 90]

In [15]:
a =[34, 44, 55, 44, 90]
a.insert(2,46)  #insert function for inserting in the point where you want
print(a)

[34, 44, 46, 55, 44, 90]

In [17]:
y =[]
n =int(input("Enter the value of n ="))
for i in range(n):
    x =input("Enter x=")
    y =y+[x]
print(y)

Enter the value of n =4
Enter x=hey
Enter x=hi
Enter x=hello
Enter x=namaste
['hey', 'hi', 'hello', 'namaste']

In [2]:
y =[]
n =int(input("Enter the value of n ="))
for i in range(n):
    x =int(input("Enter x="))
    y.append(x)
print("The final data are=",y)
print("The max value are =",max(y))
print("The min value is=",min(y))
print("The sum value is=",sum(y))
print("The avg  value is =",sum(y)/n)
y.sort()
print("The sorted value is =",y)
y.reverse()
print("The reverse value is=",y)

Enter the value of n =4
Enter x=3
Enter x=5
Enter x=4
Enter x=5
The final data are= [3, 5, 4, 5]
The max value are = 5
The min value is= 3
The sum value is= 17
The avg  value is = 4.25
The sorted value is = [3, 4, 5, 5]
The reverse value is= [5, 5, 4, 3]

In [3]:
print("The final value is =",y)
y.sort()
print("The sorted value is=",y)
y.reverse()
print(y)

The final value is = ['22', '33', '34']
The sorted value is= ['22', '33', '34']
['34', '33', '22']

In [4]:
a =["apple","ball","Cat", "Zebra"]
a.sort()            #sort with alphabetical order
print(a)

['Cat', 'Zebra', 'apple', 'ball']

In [7]:
n=len(a)
for i in range(n):
    print(i,a[i])

0 Cat
1 Zebra
2 apple
3 ball

In [8]:
a =['Apple','ball','cat','dog']
search =input("Enter the value of search=")
if search in a:
    print("yes",a.count(search))

Enter the value of search=cat
yes 1

In [11]:
a =['aPple','ball','cat','dog']
b =[]
for i in a:
    j =i.lower()
    b.append(j)
print(b)

['apple', 'ball', 'cat', 'dog']

In [4]:
a =['Apple','ball','cat','dog','apple']
search =input("Enter the value of search=").lower()
for i in range(len(a)):
    
    if search in a[i].lower():
        print("yes")
        break

Enter the value of search=3

In [3]:
a =['Apple','ball','cat','dog','apple']
search =input("Enter the value of search=").lower()
for i in range(len(a)):
    
    if search in a[i].lower():
        print("yes")

Enter the value of search=apple
yes

In [5]:
#index remove del

In [14]:
a =["apple","ball ","cat","dog"]
a.remove("apple")
print(a)

['ball ', 'cat', 'dog']

In [7]:
a =['apple ','ball ','cat','dog']
del a[0]
print(a)

['ball ', 'cat', 'dog']

In [10]:
a =['apple ','ball ','cat','dog']
del a
print(a)

NameError: name 'a' is not defined

In [11]:
a =['apple ','ball ','cat','dog']
a.clear()
print(a)

[]

In [2]:
a =["apple","ball ","cat","dog","apple","apple"]
n =a.count("apple")
for i in range(n):
    a.remove("apple")
print(a)

['ball ', 'cat', 'dog']

In [3]:
a =["apple","ball ","cat","dog","apple","apple"]
n =a.count("apple")
for i in range(n-1):
    a.remove("apple")
print(a)

['ball ', 'cat', 'dog', 'apple']

In [5]:
a =["apple","ball ","cat","dog","apple","apple"]
del a[0:4]
print(a)

['apple', 'apple']

In [6]:
a =["apple","ball ","cat","dog","apple","apple"]
a.index("apple")

0

In [12]:
a =["apple","ball","cat","dog","apple","apple"]
x =input("Enter the value for search=")
for i in range(len(a)):
    if a[i] ==x:
        print(i)

Enter the value for search=apple
0
4
5

In [15]:
a =["apple","ball","cat","dog","apple","apple"]
del a[0]
a

['ball', 'cat', 'dog', 'apple', 'apple']

In [16]:
a =["apple","ball","cat","dog","apple","apple"]
x =input("Enter the value for search=")
ind =[]

for i in range(len(a)):
    if a[i] ==x:
        ind.append(i)
print(ind)

Enter the value for search=apple
[0, 4, 5]

In [23]:
s =" "
n =int(input("Enter how many rows ="))
for i in range(n):
    name = input("Enter the name=")
    phone =int(input("Enter the number="))
    info =f"{name}-----{phone}\n"
    s =s+info
print("The info are\n",s)
my_data =s.split("\n")
print(my_data[:-1]) #for reduce last \n part

Enter how many rows =2
Enter the name=ram
Enter the number=456789
Enter the name=shyam
Enter the number=5678
The info are
  ram-----456789
shyam-----5678

[' ram-----456789', 'shyam-----5678']

In [24]:
my_data[1]

'shyam-----5678'

In [19]:
a = "apple ball cat"
a.split()

['apple', 'ball', 'cat']

In [20]:
a = "apple ball cat"
a.split()

['apple', 'ball', 'cat']

In [25]:
my_data[0].split('-----')

[' ram', '456789']

In [28]:
s =" "
n =int(input("Enter how many rows ="))
for i in range(n):
    name = input("Enter the name=")
    phone =int(input("Enter the number="))
    info =f"{name}-----{phone}\n"
    s =s+info
print("The info are\n",s)
z =[]
my_data =s.split('\n')
up_my_data =my_data[:-1]

for i in range(len(my_data)):
    final_value = up_my_data[i].split('-----')
    z.append(final_value)
print(z)

Enter how many rows =2
Enter the name=ram
Enter the number=67890
Enter the name=hari
Enter the number=6789
The info are
  ram-----67890
hari-----6789

IndexError: list index out of range