In [2]:
a =3 
b =4
#Arithmetic operator
print("The value of 3-4 is", 3-4)
print("The value of 3+4 is", 3+4)
print("The value of 3*4 is", 3*4)
print("The value of 3/4 is", 3/4)

The value of 3-4 is -1
The value of 3+4 is 7
The value of 3*4 is 12
The value of 3/4 is 0.75

In [4]:
#assignment operator
a =20
a +=4
a -=2

print(a)

22

In [7]:
#comparision operator
b =(4>7)
b =(14==6)
print(b)

False

In [8]:
#logical operator
bool1= True
bool2= False
print("The value of bool1 and bool2 is ",(bool1 and bool2))
print("The value of bool1 or bool2 is ",(bool1 or bool2))
print("The value of not bool2 is ",(not bool2))

The value of bool1 and bool2 is  False
The value of bool1 or bool2 is  True
The value of not bool2 is  True

In [12]:
#typecasting
a ="345"
a =int(a)
print(type(a))
print(a +5)

<class 'int'>
350

In [14]:
# Conversion
str(31)
int("32")

32

In [16]:
#input function
a = input("Enter your name:")
print(a)

Enter your name:harry
harry

In [17]:
#write a program to add 2 number
a =int(input("Enter the 1st number"))
b =int(input("Enter the 2nd number"))
c =a+b
print(c)

Enter the 1st number33
Enter the 2nd number22
55

In [1]:
a =int(input("Enter the 1st number:"))
b =int(input("Enter the 2nd number:"))
c =a%b
print("The remainder is",c)
print(type(c))

Enter the 1st number:45
Enter the 2nd number:2
The remainder is 1
<class 'int'>

In [2]:
a =45
b =44
print(a>b)

True

In [3]:
a =int(input("Enter the 1st number:"))
b =int(input("Enter the 2nd number:"))
print((a+b)/2)

Enter the 1st number:2
Enter the 2nd number:4
3.0

In [4]:
a =int(input("Enter the 1st number:"))
print(a*a)

Enter the 1st number:3
9

In [5]:
#string
a ="harry's"
print(a)

harry's

In [9]:
#string _slicing
greeting ="good morning"
name = "harry" 
print(type(name +greeting))
print(name+greeting)

<class 'str'>
harrygood morning

In [13]:
greeting ="good morning"
name = '''harry'''
c = greeting +  name
print(name[3])

r

In [15]:
print(name[0:2])
print(name[0:4])
print(name[1:5])

ha
harr
arry

In [16]:
print(name[-4:-1])

arr

In [19]:
name = "amazing"
print(name[0::2])

aaig

In [26]:
#string functions
story ="once upon a time there was a youtube named called Harry , he used to upload python course"
print(len(story))
print(story.endswith("notes"))

89
False

In [29]:
#string functions
story ="once upon a time there was a youtube named called Harry , he used to upload python course"
print(len(story))
print(story.endswith("course"))
print(story.count("youtube"))
print(story.count("up"))
print(story.capitalize())

89
True
1
2
Once upon a time there was a youtube named called harry , he used to upload python course

In [33]:
print(story.find("a"))
print(story.find("once"))
print(story.replace("Harry","Rakesh"))

10
0
once upon a time there was a youtube named called Rakesh , he used to upload python course

In [36]:
story ="My name is Rakesh mahat. \nI am a loose and failure"
print(story)

My name is Rakesh mahat.
I am a loose and failure

In [42]:
#question
#WAP to display a user entered name and good afternoon in the screen using input functions
name =input("Enter the name:")
greeting ="Good afternoon\n"
c =greeting + name
print(c)

Enter the name:Rakesh
Good afternoon
Rakesh

In [45]:
name =input("Enter the name:\n")
print("Good Afternoon, " +name)

Enter the name:
rakesh
Good Afternoon, rakesh

In [ ]:
#lettter
letter =''' Dear ,<|Name|>

You are selected in this post
Date =<|DATE|>
'''
name =input("Enter name :")
date =input("Enter date:")
letter =letter.replace("<|Name|>",name)
letter =letter.replace("<|DATE|>",date)
print(letter)

In [ ]:
f1 =input("Enter fruit number 1")
f2 =input("Enter fruit number 2")
f3 =input("Enter fruit number 1")
f4 =input("Enter fruit number 1")
f5 =input("Enter fruit number 1")
f6 =input("Enter fruit number 1")
f7 =input("Enter fruit number 1")
MyFruitlist = [f1, f2, f3 ,f4, f5, f6, f7 ]
print(MyFruitlist)

f1 =int(input("Enter fruit number :"))
f2 =input("Enter fruit number 2")
f3 =input("Enter fruit number 1")
f4 =input("Enter fruit number 1")
f5 =input("Enter fruit number 1")
f6 =input("Enter fruit number 1")
f7 =input("Enter fruit number 1")
Mylist = [f1, f2, f3 ,f4, f5, f6, f7 ]

print(Mylist)

In [ ]:
f1 =int(input("Enter fruit number :"))
f2 =int(input("Enter fruit number 2"))
f3 =int(input("Enter fruit number 1"))
f4 =int(input("Enter fruit number 1"))
f5 =int(input("Enter fruit number 1"))
f6 =int(input("Enter fruit number 1"))
f7 =int(input("Enter fruit number 1"))
Mylist = [f1, f2, f3 ,f4, f5, f6, f7 ]
Mylist.sort()
print(Mylist)

In [1]:
a =(1 ,2,3 ,4 ,5)
a[3]=43

TypeError: 'tuple' object does not support item assignment

In [3]:
a =[2,3,5,4]
print(a[0]+a[1]+a[2]+a[3])
print(sum(a))

14
14

In [4]:
a =(7,0,8,0,0,9)
b=a.count(0)
print(b)

3

In [1]:
#Dictionary 
myDict ={
    "fast ":"In a quick Manner",
    "Harry":"A coder"
}
print(myDict['fast'])

KeyError: 'fast'

In [6]:
myDict ={
    "hello":"boys"
}
print(myDict["hello"])

boys

In [3]:
a ={1:"apple",0:"Apple"}
print(a)

{1: 'apple', 0: 'Apple'}

In [4]:
print(a[0])

Apple

In [5]:
print(a[1])

apple

In [9]:
myDict ={
    "fast ":"In a quick Manner","harry":"A coder","marks":[1,2,3,4]
}
print(myDict.keys())
print(type(myDict.keys()))

dict_keys(['fast ', 'harry', 'marks'])
<class 'dict_keys'>

In [14]:
updatemyDict ={
    "hello ":"bro","tell":"me "
}
print(myDict)

{'fast ': 'In a quick Manner', 'harry': 'A coder', 'marks': [1, 2, 3, 4], 'hello ': 'bro', 'tell': 'me '}

In [15]:
print(myDict.get("harry"))

A coder

In [16]:
print(myDict["harry"])

A coder

In [17]:
print(myDict.get("harry2"))#Returns none as harry2 is not present in the dictionary

None

In [18]:
print(myDict["harry2"])  #throws an erroe as harry2 is not present in the dictionary

KeyError: 'harry2'

In [23]:
#Sets in python  #set is the collection of non repetative element
a ={1,2,3,5,6,2,1}
print(type(a))

<class 'set'>

In [24]:
print(a)

{1, 2, 3, 5, 6}

In [25]:
#importnat : this syantax woll create an empty dictionary  and not an emoty set
a ={}
print(type(a))

<class 'dict'>

In [26]:
#an empty can be create using the below synatax
b =set()
print(type(b))

<class 'set'>

In [28]:
#Empty set(
b =set()
b.add(4)
b.add(5)
print(b)

{4, 5}

In [29]:
#b.add([4,5,6])  # unhashbale list
b.add((4,5,7,8))
print(b)

{4, 5, (4, 5, 7, 8)}

In [31]:
#b.add({4:5})  #not dictionary

print(b)

{4, 5, (4, 5, 7, 8)}

In [33]:
print(len(b))  #length of b
b.remove(5)  #remove 5 from set
b.remove(14) #throws an error when it is not in the set
print(b)

3
{4, (4, 5, 7, 8)}

In [36]:
print(b.pop())
print(b.clear())

(4, 5, 7, 8)
None

In [1]:
  #practice
dict ={
    "pankha":"fan","dabba":"bottle","khana":"food"
}
print("options are", dict.keys())
a =input("Enter the hindi words :")
print("the meaning od the words is :",dict[a])

options are dict_keys(['pankha', 'dabba', 'khana'])
Enter the hindi words :dabba
the meaning od the words is : bottle

In [2]:
# 8 number with unique data
num1 =input("Enter nummber 1:\n")
num2 =input("Enter nummber 2")
num3 =input("Enter nummber 3")
num4 =input("Enter nummber 4")
num5 =input("Enter nummber 5")
num6 =input("Enter nummber 6")
num7 =input("Enter nummber 7")
num8 =input("Enter nummber 8")
num9 =input("Enter nummber 9")
s ={num1, num2,num3, num4,num5,num6,num7,num8,num9}
print(s)

Enter nummber 1:
2
Enter nummber 23
Enter nummber 32
Enter nummber 41
Enter nummber 52
Enter nummber 65
Enter nummber 76
Enter nummber 85
Enter nummber 94
{'4', '5', '3', '2', '6', '1'}

In [3]:
#conditional

In [2]:
#file 
f = open('data.txt','r')
data =f.read()
print(data)
f.close()

hello boys i am from the top of the world

In [2]:
f = open('untitled1.txt')
data =f.readline()
print(data)
data = f.readline()
print(data)
data = f.readline()
print(data)
data = f.readline()
print(data)
f.close()

Pioneer is sthe company of the tissue paper coampany which

was estalblish in the Dhangadi District.

saipal himal is the top mountain from far western nepal.

In [7]:
#Write
f =open('untitled1.txt','a')
f.write("i am appending")
f.write("i am appending")
f.write("i am appending")
f.write("i am appending")
f.close()

In [10]:
# WIth
with open ('untitled1.txt','r') as f:
    a = f.read() 
with open ('untitled1.txt','r') as f:
    a = f.read() 
print(a)

Please wrtie this filei am appendingi am appendingi am appendingi am appendingi am appending

In [11]:
f =open('untitled1.txt')
t = f.read()
if 'twinkle' in t:
    print("Twinkle is present")
else:
    print("Twinkle is not present")
f.close()

Twinkle is present